.navbar {
  padding: 0.5rem 0;
  transition: none;
  min-height: 77px;
  background: grey;
  background-image: url('../../app/image/worldspace.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
